.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

// coder-coder code
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;

    button {
        background: none;
        border: none;
        padding: 0;

        @media only screen and (min-width:501px) {
            display: none;
        }

    }

    &__open[aria-expanded="true"] {
        +.navbar__menu {
            translate: 0;
        }

        @media (prefers-reduced-motion) {
            opacity: 1;
        }
    }

    &__close {
        display: block;
        margin-inline-start: auto; //aligns the X to the right
        margin-block-end: 8rem; //moves links down a bit

        img {
            width: 2.5rem;
        }
    }

    &__menu {
        @media only screen and (max-width:500px) {
            position: fixed;
            inset: 0;
            padding: 1.5rem;
            background-color: blue;

            translate: 100vw 0; //slide the menu in from off screen
            transition: translate 0.5s ease-in-out;
        }

        @media only screen and (max-width:500px) and (prefers-reduced-motion) {
            translate: 0;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }

    }

    &__links {
        margin: 0;
        padding: 0;

        display: flex;
        align-items: center;
        gap: 1rem;

        @media only screen and (max-width:500px) {
            flex-direction: column;
        }
    }

    &__item {
        list-style-type: none;
    }
}